.grid_parent {
    display: grid ;
    /* 1/5 3/5 1/5 */
    grid-template-columns: 1fr 3fr 1fr ;
    /* grid-template-rows */
    grid-gap: 0px ;
    grid-template-areas:
        "header header header"
        "left-sidebar main-content right-sidebar"
        "left-sidebar main-content right-sidebar"
         "left-sidebar main-content right-sidebar"
        "footer footer footer"
}

body {
    margin: 0px ;}

/** background images for pages **
.splash{
    /** background-image: url("background.png");
    background-color:white;}

.two{
    background-image: url(toastb.png)}
.contact{
    background-image: url();}
 */
    
    
  /* a details */  
a{ 
    text-decoration: none;
    color: white;
    outline-color: black;
        border-color: black;
}
a:hover{
 background-color: ;
    color: white;   
}
    
a:hover{ 
    text-decoration: none;
    color: black;
}

.main {
    margin-left: 2px;
    letter-spacing: 2px;
}

.main:hover {
    background: #FDC0E6;
    color: black;
}

.select {
    background-color:black;
    color: #FDC0E6;
    letter-spacing: 2px;
}

.select:hover {
    color:#FDC0E6;
    background-color: black;
}

/* grid areas */

.header {
    background-color: black;
    font-family:Avenir;
    color:white;
    grid-area: header ;
    text-align:center;
    padding: 5px;
    word-spacing: 100px;
    letter-spacing: 5px;
    position: fixed ;
    width: 100% ;
    z-index: 9;

}

.left-sidebar {
    background-color: white;
    grid-area: left-sidebar ;
    height: 10px;
}

.main-content {
    grid-area: main-content ; 
    padding-top: 50px;

}

.right-sidebar {
    background-color: white;
    grid-area: right-sidebar ;
        height: 100px;

}

.footer {
    background-color: black;
    grid-area: footer ;
    color:white;
    padding: 20px;
    word-spacing: 100px;
    letter-spacing: 2px;

}
.footer:hover {
    color:#FDC0E6;
}

/* footer info */
.links{
    text-align: center;
    font-family: Avenir;

}

.link{
    text-align: center;
    font-family: Avenir;
background-color: white;
    color: #FDC0E6;
}

/* Titles */
.qween{
    font-family: Avenir-black;
    font-size: 60px;
    color: #FDC0E6;
    margin-top:150px;
    margin-bottom:0px;
}

.toast{
    font-family: Futura;
    text-align: center;
    font-size: 200px;
    color:black;
    margin-bottom:0px;
    margin-top: 0px;
}

.title{
    font-family: Futura;
    text-align: center;
    font-size: 80px;
    color:black;
    margin-bottom:0px
}

/*biography splash page */
.bio{
    text-align:left;
    color:white;
    font-family: Avenir ;
    padding-top: 0px;
    padding-left: 350px;
    padding-right: 50px;
    padding-bottom:20px;
margin-bottom: 0px;
}

.bio-heading{
    text-align:left;
    color:white;
    font-family: Avenir-Black ;
    padding-top: 0px;
    padding-left: 350px;
    font-size:80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Box elements music page */
.update{
    text-align:left;
    color:white;
    font-family: Avenir ;
    padding-top: 0px;
    padding-left: 500px;
    padding-right: 40px;
    font-size: 15px;
}

.update-heading{
    text-align:left;
    color:#FDC0E6;
    font-family: Avenir-Black ;
    padding-top: 0px;
    padding-left: 500px;
    padding-right: 35px;
    font-size:30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.black{
    /* background-image: url(toastred.JPG); */
    background-color:black;
    padding-bottom:50px;
    margin-top: 80px;
    margin-bottom: 100px;     
}

#black {
  background-image: url(toast-musicpic.png);
    padding:60px;
    margin-top: 50px;
    margin-bottom:50px;  
    padding-bottom:50px;
  -webkit-filter: grayscale(100%); /* BW Image */
  filter: grayscale(100%);
}

#black:hover{
     -webkit-filter: grayscale(0%);  /* Image to color */
  filter: grayscale(0%);
}

#red {
  background-image: url(toast-redblack.png);
    padding:60px;
    margin-top: 50px;
    margin-bottom:100px;  
    padding-bottom:50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#red:hover{
     -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

#blue {
  background-image: url(toast-blueblack.png);
    padding:60px;
    margin-top: 50px;
    margin-bottom:100px;  
    padding-bottom:50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#blue:hover{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

#yellow {
  background-image: url(toast-yellowblack.png);
    padding:60px;
    margin-top: 50px;
    margin-bottom:100px;  
    padding-bottom:40px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#yellow:hover{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

/*buttons */

.btn {
    background-color: black;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
}

.white {
    border-color: black;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom:10px;
    margin-left: 500px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     text-align: center;
    align-items: center;
    justify-content:center;
    display: flex;
    border: 1px solid white;
}

.white:hover {
    background-color: white; 
    color: black;
}

#pink {
  background-image: url(toast-pink.png);
    padding:30px;
    margin-top: 200px;
    margin-bottom:50px;  
    padding-bottom:50px;
}

.pink{
    border-color: black;
    color: black;
}

/*for buttons under titles*/

.under-title {
    border-color: white;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom:10px;
    margin-top: 40px;
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.under-title:hover {
    background-color: #FDC0E6; 
    color: white;
    text-align: center;
}

.under-title2 {
    border-color: white;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom:10px;
    margin-top: 40px;
    background-color: ;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.under-title2:hover {
    background-color: #FDC0E6; 
    color: white;
    text-align: center;
}

#title-button{
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
}

button{
    padding-left: 350px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

button:hover{
 background-color: white;
    color: black;  
}

/* contact form */
label{
    font-family: Avenir-black;
     text-align: center;
    align-items: center;
    justify-content:center;
    font-size: 14px;    
}

.label{
    font-family: Avenir-black;
     text-align: center;
    align-items: center;
    justify-content:center;
    font-size: 14px;    
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  font-family: Avenir;
    font-size: 14px;
padding: 10px; /* Some padding */ 
  border: 1px solid #FDC0E6; /* Gray border */
  border-radius: 0px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    font-family: Avenir;
    font-size: 14px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
    color:black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 0px;
  background-color: #FDC0E6;
  padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    align-content: center;
    justify-content: center;
}



/* photo gallery info below */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container2 {
  position: relative;
margin-bottom: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.mySlides:hover{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #FDC0E6;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
      font-family: Avenir-black;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.column:hover{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}