body {
    margin: 0px ;
}
.splash{
        background-image: url("toastpurp.png");

}

.two{
    background-image: url(toastb.png)
}

a{ 
    text-decoration: none;
    color: white;
}

.grid_parent {
    display: grid ;
    /* 1/5 3/5 1/5 */
    grid-template-columns: 1fr 3fr 1fr ;
    /* grid-template-rows */
    grid-gap: 0px ;
    grid-template-areas:
        "header header header"
        "left-sidebar main-content right-sidebar"
        "left-sidebar main-content right-sidebar"
        "footer footer footer"
}

.header {
    background-color: black;
    font-family:Avenir;
    color:white;
    grid-area: header ;
    text-align:center;
    padding: 20px;
    word-spacing: 100px;
    letter-spacing: 5px;
    position: fixed ;
    width: 100% ;

}

.left-sidebar {
    background-color: white;
    grid-area: left-sidebar ;
    height: 10px;
}

.main-content {
    grid-area: main-content ; 
    padding-top: 50px;

}

.right-sidebar {
    background-color: white;
    grid-area: right-sidebar ;
    height: 1000px;
}

.footer {
    background-color: black;
    grid-area: footer ;
    color:white;
    padding: 20px;
    word-spacing: 100px;
    letter-spacing: 2px;

}
.footer:hover {
    color:pink;
}

.links{
    text-align: center;
    font-family: Avenir;

}

.toast{
    font-family: Futura;
    text-align: center;
    font-size: 200px;
    color:black;
}


.title{
    font-family: Futura;
    text-align: center;
    font-size: 80px;
    color:black;
    margin-bottom:0px
}

.bio{
    text-align:left;
    color:white;
    font-family: Avenir ;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom:30px;


}

.bio-heading{
    text-align:left;
    color:white;
    font-family: Avenir-Black ;
    padding-top: 10px;
    padding-left: 50px;
    font-size:50px;


}

.update{
    text-align:left;
    color:white;
    font-family: Avenir ;
    padding-top: 0px;
    padding-left: 500px;
    padding-right: 40px;
    padding-bottom:30px;


}

.update-heading{
    text-align:left;
    color:white;
    font-family: Avenir-Black ;
    padding-top: 10px;
    padding-left: 500px;
    font-size:50px;


}
.btn {
    background-color: black;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
   

}

.main {
    color: white;
    margin-left: 2px;
}

.main:hover {
    background: white;
    color: black;
}

.contact {
    color: white;
}

.contact:hover {
    background: white;
    color: black;
}

.music{
    color: white;
}

.music:hover {
    background: white;
    color: black;
}

.gallery {
    color: white;
}

.gallery:hover {
    background: white;
    color: black;
}

.white {
    border-color: white;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom:10px;
    padding-left: 80px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     text-align: center;
    align-items: center;
    justify-content:center;
    display: flex;
}

.white:hover {
    background-color: white; 
    color: black;
}

.pink{
    background-color:pink;
    padding-bottom:50px;
    margin-top: 400px;
    margin-bottom: 100px;
}

.black{
    /* background-image: url(toastred.JPG); */
    background-color:black;
    padding-bottom:50px;
    margin-top: 80px;
    margin-bottom: 100px;  
    
}

#black {
  background-image: url(toast-musicpic.png);
    width: 100%;
    padding:20px;
    margin-bottom:200px;       
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#black:hover{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: white;
    color: black;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 0px;
    background-color: pink;
    padding: 20px;
    margin-top:100px;
}

label{
    font-family: Futura;
}

/*for buttons under titles*/

.under-title {
    border-color: white;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom:10px;
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.under-title:hover {
    background-color: pink; 
    color: black;
    text-align: center;
}

#title-button{
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 50px;
}



